%h2 
  -if @search 
    Gems matching
    %em=@search 
    %span.num="(#{@search ? @gems.count : AllGems.total_gems})"
  -else
    Installed Gems
    %span.num="(#{AllGems.total_gems})"
  %span.view_options
    View as
    =(@show_as == 'columns') ? '<strong>Columns</strong>' : link_to('Columns', {'as' => 'columns'})
    =' / '
    =(@show_as == 'table') ? '<strong>Table</strong>' : link_to('Table', {'as' => 'table'})
    / | 
    /=link_to('Summaries', {'summaries' => 'false'})