=haml(:gems_header, :layout => false)
- unless @gems.empty?
  %table#gems
    %thead
      %th Name
      %th='   '
      %th Versions
    %tbody
      -@gems.each do |gem|
        %tr.gem
          %td.name=link_to_gem(gem[:name])
          %td/
          %td.versions=AllGems.db[:versions].filter(:gem_id => gem[:id]).order(:version.desc).map{|v| link_to_gem(gem[:name], :version => v[:version], :text => v[:version])}.join(', ')
        %tr.gem.summary
          %td/
          %td/
          %td.description=gem[:summary]
- else
  =haml(:no_results, :layout => false)