=haml(:gems_header, :layout => false)
- unless @gems.empty?
    #gems
        - @gems.each do |gem|
            .column
                .gem
                    %h4.name=link_to_gem(gem[:name])
                    .description=gem[:summary]
                    .versions
                        %span
                            =AllGems.db[:versions].filter(:gem_id => gem[:id]).order(:version.desc).map{|v| link_to_gem(gem[:name], :version => v[:version], :text => v[:version])}.join(', ')
        .clear
- else
    =haml(:no_results, :layout => false)
