%html{:xmlns=> "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=utf-8"}
    %title AllGems - Document everything
    %link{'href' => '/stylesheets/gembox.css', 'rel' => 'stylesheet', 'type' => 'text/css', 'media' => 'screen'}
    -['jquery', 'jquery.ui', 'jquery.metadata', 'jquery.form', 'base', 'gembox'].each do |jslib|
      %script{'type' => 'text/javascript', 'src' => "/javascripts/#{jslib}.js"}
  %body
    #container
      #header
        .contained
          %img{:src => '/images/rubygems-125x125t.png', :alt => 'Rubygems logo', :id => 'logo'}
          %h1=link_to('AllGems', '/')
          - unless request.cookies['lid'].nil?
            #dislid
              List filtered.
              =link_to('Disable filter', '/unlid/')
      #nav
        .contained
          .search
            %form{:method => 'get', :action => '/gems'}
              %input{:type => 'text', :name => 'search', :value => @search, :class => 'search_field', :tabindex => 1}
              %input{:type => 'submit', :value => 'Search'}
      #stats
        .contained
          %p
            Currently
            =AllGems.total_installs
            versions of
            =AllGems.total_gems
            gems available.
            Newest gem is
            =link_to_gem(AllGems.newest_gem[:name])
            released
            =ts(AllGems.newest_gem[:release])
        
      #main.contained
        =yield
      #footer
        %p.copyright 
          =link_to 'AllGems', 'http://github.com/spox/allgems'
          documentation engine. Developed by
          =link_to 'spox.', 'http://github.com/spox'
        %p.copyright
          Powered by
          =link_to 'Sinatra,', 'http://sinatrarb.com'
          =link_to 'Sequel,', 'http://sequel.rubyforge.org'
          and
          =link_to 'RubyGems.', 'http://rubygems.org'
        %p.copyright
          Based on
          =link_to 'Gembox', 'http://github.com/quirkey/gembox'
          by
          =link_to 'Quirkey', 'http://code.quirkey.com/'
        %p.copyright
          Currently running in 
          = @environment
          mode.

      :erb
        <script type="text/javascript" charset="utf-8">
          jQuery('body').data('sinatra-env', '<%= options.environment %>');
        </script>
